<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <div class="jet">
      <img [src]="jetImage">
    </div>
    <span class="spacer"></span>
    <nav>
      <img routerLink="/inicio" class="buttonNavbar" *ngIf="canShowNavBarResponsive()|async" [src]='mainPageImage'>
      <img routerLink="/login" class="buttonNavbar" *ngIf="canShowNavBarResponsive()|async" [src]='logInImage'>
      <img routerLink="/registro" class="buttonNavbar" *ngIf="canShowNavBarResponsive()|async" [src]='signUpImage'>
      <img routerLink="/main" class="buttonNavbar" *ngIf="!(canShowNavBarResponsive()|async)" [src]='dashboardImage'>
      <img routerLink="/inicio" class="buttonNavbar" *ngIf="!(canShowNavBarResponsive()|async)" (click)="logOutRequest()" [src]='logOutImage'>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
