.buttonNavbar {
    height: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 0 14px;
    text-decoration: none;
    color: orange;
}

.navbar {
    background-color: transparent;
    position: absolute;
}

.spacer {
    flex: 1 1 auto;
}

.buttonNavbar:hover {
    color: #FFF;
    border-color: black;
}

a {
    cursor: pointer;
}

button:hover {
    color: #FFF;
    border-color: black;
}

a:visited {
    text-decoration: none;
}