@import url('https://fonts.googleapis.com/css?family=Handlee');

.infBoard{
    width: 100%;
    text-align: center;
    size: 10px;
    color: white;
    font-family: 'Handlee', cursive;
}
.userInf{
   
}
.nameInf{
   
}