.card {
  background-color: transparent;
  width:250px;
  min-height: 190px;
  margin-bottom: 20px;
  border:1px solid peru;
}

.flex-center-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* z-index: -14; */
}

.imagen {
  width:100%;
  height: 190px;
} 
.texto{
  width: 100%;
text-align: center;
size: 10px;
}

.container-cards{
  width: 100%;
  height:80vh ;
  
}

.pagi{
  width: 100%;
  height: 80px;
}

.cont-cards{
  width: 100%;
  height: 70vh;
  overflow-y:scroll;
}