.titulo {
    background-color: rgb(15, 121, 121);
    width: 100%;
    font-style: italic bold;
    font-size: 100%;
    text-align: center
}

.buttonIn {
    background-color: blueviolet;
    width: 100%;
    text-align: center;
    font-style: italic bold;
    font-size: 100%;
}

form mat-form-field {
    width: 100%;
}