<mat-card class="cardRegistro">
  <div class="titulo">
    <mat-card-title> Registro</mat-card-title>
  </div>
  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre" class="form-control" formControlName="nombre"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="registroForm.controls.nombre.hasError('required')">
        por favor complete la informacion
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Apellido" name="apellido" [(ngModel)]="usuario.apellido" class="form-control" formControlName="apellido"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="registroForm.controls.apellido.hasError('required')">
        por favor complete la informacion
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="field">
      <input type="text" matInput placeholder="Usuario" name="usuario" [(ngModel)]="usuario.usuario" class="form-control" formControlName="usuario"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="registroForm.controls.usuario.hasError('required')">
        por favor complete la informacion
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="field">
      <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="usuario.password" class="form-control"
        formControlName="password" [errorStateMatcher]="matcher">
      <mat-error class="error" *ngIf="registroForm.controls.password.hasError('required')">
        por favor complete la informacion
      </mat-error>

      <mat-error class="error" *ngIf="registroForm.controls.password.validator.length < 8 ">
        contraseña invalida
      </mat-error>
    </mat-form-field>
    <br>
    <div>
      <button mat-button type="submit" class="buttonIn" [disabled]="!registroForm.valid">Registrarse</button>
    </div>
  </form>
</mat-card>
