.titulo {
    width: 100%;
    font-style: italic bold;
    font-size: 100%;
    text-align: center;
    color: orange;
}

.buttonIn {
    width: 100%;
    text-align: center;
    font-style: italic bold;
    font-size: 100%;
    background: orangered;
}

.field {
    color: gold;
}

form mat-form-field {
    width: 100%;
}

.cardLogin {
    background-color: transparent;
    margin-top: 100px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}
