.dashboardLeft{
    background-color: transparent;
    margin-left: 1%;
    margin-right: 25%;
    border-color: azure;
    border-style: solid;
    border-color: peru;
    border-width: 2px;
    border-style: inset;
}
.dashboardRight{
    background-color: transparent;
    margin-left: 75.3%;
    border-color: peru;
    border-width: 2px;
    border-style: solid; 
    border-style: inset;
}