.dashboardLeft {
  background-color: transparent;
  width: 75%;
  min-height: 80%;
  border-color: peru;
  border-width: 2px;
  border-style: inset;
  margin-left: 1%;
  justify-content: space-around;
}

.background {
  /*
    background-image:url('./../../../assets/imagenes/fondo_dashboard_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    */
  background-color: rgba(0, 0, 0, 0.5);
}

.dashboardRight {
  width: 25%;
  background-color: transparent;
  min-height: 80%;
  border-color: peru;
  display: flex;
  border-width: 2px;
  border-style: inset;
  margin-right: 1%;
  flex-direction: row;
}

.flex-center-row {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  /* z-index: -14; */
}

.profilePicture {
  width: 50%;
  height: 100px;
}

.profileInf {
  width: 50%;
  height: 100px;
  background-color: transparent;
}
