@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
    margin:0;
    padding: 0px;
    /* background-image:url('./app/imagenes/fondo.jpg'); */
}
body{
    background-color: black;
}
.mat-dialog-container{
padding: 0px !important;
overflow: hidden !important;
}